@import '../../assets/scss/variants.scss';
@import '../../assets/scss/mixins.scss';
.hero{
    background-color: white;
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
}
.form{
    border: none;
    border-radius: 10px;
    grid-column: 6/7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-form{
    margin:0 10px;
    }
