@import './assets/scss/variants.scss';
@import './assets/scss/mixins.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F0F5F3;
    font-size: 16px;
}
ul,li,a{
    list-style: none;
    text-decoration: none;
}

